# Thursday, April 23, 2026 

## Action Log

- Improved VS Code setup to better handle SSH into my server. 
- Added an ERD to this website as a Mermaid Chart thanks to [`@friendofsvelte/mermaid`](https://github.com/friendofsvelte/mermaid)